* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Basis';
  font-weight: 400;
  background-color: #1D2533;
  color: #E8E9EA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


